<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="static/custom.js"></script>
</head>

<body>
    <br>
    <div class="row">
        <div class="col">
            <label for="shapeL">Enter the shape &nbsp;</label>
            <input type="text" id="shapeL" name="shapeL">
            <button onclick="start('shapeL')">Submit</button>
        </div>
        <div class="col" id="connDiv" hidden>
            <label for="conns">Add the connections you want &nbsp;</label>
            <input type="text" id="conns" name="connection">
            <button onclick="addConn('conns')">Add</button>
            <button onclick="getPath()">Start</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <canvas id="pathCanvas" width="100" height="100"></canvas>
        </div>
    </div>
</body>

</html>